### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [469]:
# Dependencies and Setup
import pandas as pd
import sidetable

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [470]:
total_players = len(purchase_data_df['SN'].unique())
print(total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [471]:
# Run basic calculations to obtain number of unique items, average price, total number of purchases, and total revenue

purchases_df = purchase_data_df[['Purchase ID', 'Item ID', 'Item Name', 'Price']]
purchases_df.head()
   
num_unique_items = len(purchases_df['Item ID'].unique())
print(f'The The number of unique items is {num_unique_items}')

average_price = purchases_df['Price'].mean()
print(f'The average price is ${average_price}')

total_num_purchases = purchases_df['Price'].count()
print(f'The total number of purchases is {total_num_purchases}')

total_revenue = purchases_df['Price'].sum()
print(f'The total revenue is ${total_revenue}')

The The number of unique items is 179
The average price is $3.050987179487176
The total number of purchases is 780
The total revenue is $2379.77

In [472]:
# Create a summary data frame to hold the results
purchases_summary_df = pd.DataFrame({'number of unique items': [num_unique_items], 'average price': [average_price], 'total number of purchases':[total_num_purchases], 'total revenue': [total_revenue]})
purchases_summary_df

# Optional: give the displayed data cleaner formatting
purchases_summary_df['number of unique items'] = purchases_summary_df['number of unique items']
purchases_summary_df['average price'] = purchases_summary_df['average price'].map('${:.2f}'.format)
purchases_summary_df['total number of purchases'] = purchases_summary_df['total number of purchases']
purchases_summary_df['total revenue'] = purchases_summary_df['total revenue'].map('${:.2f}'.format)

# Display the summary data frame
purchases_summary_df

,number of unique items,average price,total number of purchases,total revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [481]:
players_df = purchase_data_df[['SN', 'Age', 'Gender']]
players_df.head()

unique_players_df = players_df.drop_duplicates(subset=['SN'])
unique_players_df.head()

gender_data_df = unique_players_df['Gender']
gender_data_df
         
gender = gender_data_df.value_counts()
print(gender)

percentage = gender_data_df.value_counts(normalize=True)
print(percentage)

# gender_sorted_df = gender_data_df.reset_index(['Gender'])
# gender_sorted_df

gender_summary_df = pd.DataFrame({'gender count': [gender], 'percentage': [percentage]})
gender_summary_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64
Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

,gender count,percentage
0,Male 484 Female ...,Male 0.840278 Female ...


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# COLUMNS: (broken down by gender)
# purchase count
# average purchase price
# total purchase value
# average purchase total per person by gender


# .sum() - purchase count
# .mean() - avg purch price
# .count() - total purch value
# take column we got from .sum and divide by the total count column from gender count (gender_summary_df)
# then do .map


gender_demographics_df = purchase_data_df[['Gender': [Gender], '']] 

total_num_purchases 


purchases_df = purchase_data_df[['Purchase ID', 'Item ID', 'Item Name', 'Price']]
purchases_df.head()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# use players_df
# bins
# group_names
# use "cut" on players_df
# for percent, take total count column and divide by number of players (total_players)



# total_players

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame