### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import sidetable

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data_df['SN'].unique())
print(total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
# Run basic calculations to obtain number of unique items, average price, total number of purchases, and total revenue

purchases_df = purchase_data_df[['Purchase ID', 'Item ID', 'Item Name', 'Price']]
purchases_df.head()
   
num_unique_items = len(purchases_df['Item ID'].unique())
print(f'The number of unique items is {num_unique_items}')

average_price = purchases_df['Price'].mean()
print(f'The average price is ${average_price}')

total_num_purchases = purchases_df['Price'].count()
print(f'The total number of purchases is {total_num_purchases}')

total_revenue = purchases_df['Price'].sum()
print(f'The total revenue is ${total_revenue}')

The number of unique items is 179
The average price is $3.050987179487176
The total number of purchases is 780
The total revenue is $2379.77

In [4]:
purchases_summary_df = pd.DataFrame({'number of unique items': [num_unique_items], 'average price': [average_price], 'total number of purchases':[total_num_purchases], 'total revenue': [total_revenue]})
purchases_summary_df

purchases_summary_df['number of unique items'] = purchases_summary_df['number of unique items']
purchases_summary_df['average price'] = purchases_summary_df['average price'].map('${:.2f}'.format)
purchases_summary_df['total number of purchases'] = purchases_summary_df['total number of purchases']
purchases_summary_df['total revenue'] = purchases_summary_df['total revenue'].map('${:.2f}'.format)

purchases_summary_df

,number of unique items,average price,total number of purchases,total revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [60]:
players_df = purchase_data_df[['SN', 'Age', 'Gender']]
players_df.head()

unique_players_df = players_df.drop_duplicates(subset=['SN'])
unique_players_df.head()

gender_data_df = unique_players_df['Gender']
gender_data_df
         
gender_count = gender_data_df.value_counts()
print(gender_count)

gender_percentage = gender_data_df.value_counts(normalize=True)
print(percentage)

gender_summary_df = pd.DataFrame({'count': gender_count, 'percentage': gender_percentage.map('{:2%}'.format)})
gender_summary_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64
Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

                       count  percentage
Male                     484  84.027778%
Female                    81  14.062500%
Other / Non-Disclosed     11   1.909722%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# COLUMNS: (broken down by gender)
# purchase count
# average purchase price
# total purchase value
# average purchase total per person by gender


# .sum() - purchase count
# .mean() - avg purch price
# .count() - total purch value
# take column we got from .sum and divide by the total count column from gender count (gender_summary_df)
# then do .map


gender_demographics_df = purchase_data_df.groupby(['Gender'])
gender_demographics_df

purchase_count_gender = purchase_data_df.groupby(['Gender']).count()['Price']


avg_purchase__price_gender = purchase_data_df.groupby(['Gender']).mean()['Price']




# total_num_purchases 


# purchases_df = purchase_data_df[['Purchase ID', 'Item ID', 'Item Name', 'Price']]
# purchases_df.head()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# use players_df
# bins
# group_names
# use "cut" on players_df
# for percent, take total count column and divide by number of players (total_players)



# total_players

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [61]:
max_age = purchase_data_df['Age'].max()
print(max_age)
min_age = purchase_data_df['Age'].min()
print(min_age)

bins = [0, 10, 14, 19, 24, 29, 34, 39, 44, 49]
group_names = ['< 10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49']

purchase_data_df['Age Group'] = pd.cut(purchase_data_df['Age'], bins, labels=group_names)
purchase_data_df

age_demographics_df = purchase_data_df.groupby(['Age Group'])
age_demographics_df.head()

num_players_per_group = age_demographics_df['Age'].count()
purchase_count = age_demographics_df['Price'].count()
total_purchase_price = age_demographics_df['Price'].sum()
avg_purchase_price = age_demographics_df['Price'].mean()
avg_purchase_per_person = age_demographics_df['Price'].sum() / num_players_per_group

age_summary_df = pd.DataFrame({'number of purchases': purchase_count, 'average purchase price': avg_purchase_price, 'total purchase value': total_purchase_price, 'average purchase total per person': avg_purchase_per_person})
age_summary_df

age_summary_df['number of purchases'] = age_summary_df['number of purchases']
age_summary_df['average purchase price'] = age_summary_df['average purchase price'].map('${:.2f}'.format)
age_summary_df['total purchase value'] = age_summary_df['total purchase value'].map('${:.2f}'.format)
age_summary_df['average purchase total per person'] = age_summary_df['average purchase total per person'].map('${:.2f}'.format)
age_summary_df

45
7

,number of purchases,average purchase price,total purchase value,average purchase total per person
Age Group,,,,
< 10,32,$3.40,$108.96,$3.40
10-14,19,$2.68,$50.95,$2.68
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40-44,12,$3.04,$36.54,$3.04
45-49,1,$1.70,$1.70,$1.70

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame