### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [302]:
# Dependencies and Setup
import pandas as pd
import sidetable

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [303]:
total_players = len(purchase_data_df['SN'].unique())
print(total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [304]:
# Run basic calculations to obtain number of unique items, average price, total number of purchases, and total revenue

purchases_df = purchase_data_df[['Purchase ID', 'Item ID', 'Item Name', 'Price']]
purchases_df.head()
   
num_unique_items = len(purchases_df['Item ID'].unique())
print(num_unique_items)

average_price = purchases_df['Price'].mean()
print(average_price)

total_num_purchases = purchases_df['Price'].count()
print(total_num_purchases)

total_revenue = purchases_df['Price'].sum()
print(total_revenue)

179
3.050987179487176
780
2379.77

In [305]:
# Create a summary data frame to hold the results
purchases_summary_df = pd.DataFrame({'number of unique items': [num_unique_items], 'average price': [average_price], 'total number of purchases':[total_num_purchases], 'total revenue': [total_revenue]})
purchases_summary_df

# Optional: give the displayed data cleaner formatting
purchases_summary_df['number of unique items'] = purchases_summary_df['number of unique items']
purchases_summary_df['average price'] = purchases_summary_df['average price'].map('${:.2f}'.format)
purchases_summary_df['total number of purchases'] = purchases_summary_df['total number of purchases']
purchases_summary_df['total revenue'] = purchases_summary_df['total revenue'].map('${:.2f}'.format)

# Display the summary data frame
purchases_summary_df

,number of unique items,average price,total number of purchases,total revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [366]:
# use value_counts() on the players only dataframe

# take that df and divide by number of players (total_players)

# total_players = 576
players_df = purchase_data_df[['SN', 'Age', 'Gender']]
players_df.head()

unique_players_df = players_df.drop_duplicates(subset=['SN'])
unique_players_df.head()


gender_data = unique_players_df.groupby(['Gender'])
gender_data['Gender'].count()

males = unique_players_df['Gender']=='Male'
males.value_counts()

# True     484
# False     92

females = unique_players_df['Gender']=='Female'
females.value_counts()

# False    495
# True      81

other_nondisclosed = unique_players_df['Gender']=='Other / Non-Disclosed'
other_nondisclosed.value.counts()



# gender_data_df.loc[['Male']]

# gender_data = pd.DataFrame({'Gender': [Male, Female]})
# gender_data = pd.DataFrame([4],
#                           index=['Male', 'Female'],
#                           columns='count')


# males = unique_players_df.loc['Gender': 'Male']
# males.count()

# unique_players_df.count()

# gender_data['Gender': 'Male'].count()
        
#     Gender
# Female                    81
# Male                     484
# Other / Non-Disclosed     11
# Name: Gender, dtype: int64

# male_percentage = cleaned_players_df['Gender']=='Male' / purchase_data_df[total_players]
# print(male_percentage)

AttributeError: 'Series' object has no attribute 'value'


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame